* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-image: url(/Imagens/nether-portal.gif);
}

.bterra {
    position: absolute;
    top: 280px;
    left: 300px;
    background: transparent;
    border: transparent;
}

.iterra {
    width: 300px;
}

#contador {
    font-size: 50px;
}
.tabela {
    display: block;
    float: right;
    margin: 50px;
}

.imgtbl {
    width: 85px;
}

.itmtbl {
    display: block;
    background: #A8A8A8;
    width: 350px;
    margin: 20px;
    display: flex;
    transition: 0.6s;
    border: 1px solid black;
}

.itmtbl:hover {
    background: #E6E8FA;
}

.textotbl {
    font-size: 17px;
    margin-left: 80px;
    margin-top: 20px;
    
}

.textotbl h2 {
    text-align: center;
}
#contador {
    color: white;
    text-align: center;
    font-size: 60px;
    padding-top: 30px;
}
#upgrade-info {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}